#wrapper {
    width:767px;
    }
    
    .clearfix::after { 
        content: '';
        display: block; 
        clear: both;
    }
    
    .header { 
        width: 250px;
        height: 100px;
        background-color: #141f40;
    }
    .right { 
        width: 100px; 
        height: 250px;
        background-color: #8c2727;
    }
    
    .left { 
     float: left;
     width: 150px;
     height: 250px;
     background-color: #80bfa8;
    }
    
    .footer {
        float: right; 
        width: 250px; 
        height: 100px;
        background-color: #d98d30;
    }
    
    * {
        margin: 0;
        padding: 0;
    }